<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.appuistudy">
    <!--//首先需要AndroidManifest.xml文件中添加操作蓝牙的权限。-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <!--//允许程序连接到已配对的蓝牙设备。-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <application
        android:name="application.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TextActivity"/>
    </application>
</manifest>